{% extends 'base.html' %}
{% block title %}
    Your private messages
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row" style="margin-top: 50px;">
            <div class="col-lg-5 message-thread-list">
                <h4>Messages</h4>
                <ul class="list-group message-thread-ul">
                    <a href="#" class="message-thread-link">
                        <li class="list-group-item">
                            <img class="message-thread-user-thumbnail" src="http://127.0.0.1:8000/media/dps/SI_20150706_222145.jpg" alt="Damilola">
                            <p class="badge badge-message-timestamp">17h</p>
                            <h5 class="list-group-item-heading">Adeyemi Damilola</h5>
                            <span class="list-group-item-text">Software Architect</span>
                        </li>
                    </a>
                    <a href="#" class="message-thread-link">
                        <li class="list-group-item">
                            <img class="message-thread-user-thumbnail" src="http://127.0.0.1:8000/media/dps/SI_20150706_222145.jpg" alt="Damilola">
                            <p class="badge badge-message-timestamp">17h</p>
                            <h5 class="list-group-item-heading">Adeyemi Damilola</h5>
                            <span class="list-group-item-text">Software Architect</span>
                        </li>
                    </a>
                    <a href="#" class="message-thread-link">
                        <li class="list-group-item">
                            <img class="message-thread-user-thumbnail" src="http://127.0.0.1:8000/media/dps/SI_20150706_222145.jpg" alt="Damilola">
                            <p class="badge badge-message-timestamp">17h</p>
                            <h5 class="list-group-item-heading">Adeyemi Damilola</h5>
                            <span class="list-group-item-text">Software Architect</span>
                        </li>
                    </a>
                </ul>
            </div>
            <div class="col-lg-7 message-thread">
                {% block messageThread %}

                {% endblock %}
            </div>
        </div>
    </div>
{% endblock %}