{% extends 'base.html' %}
{% block title %}
    Your Quelock Feed
{% endblock %}
{% load static %}
{% block body %}
    <div class="getting-started-overlay">
        <div class="lay-header">
            <span class="overlay-header-text"></span>
            <span class="ion-android-close close-overlay" onclick="close_overlay()"></span>
        </div>
        <div class="lay-content">
            <ul class="lay-content-items">

            </ul>
        </div>
    </div>
    <div class="container">



        <div class="row" style="margin-top: 70px;">
            <div class="col-lg-2">

            </div>
            <div class="col-lg-8">
                {#                <h4 class="feeds-header">your feeds</h4>#}
                <div class="ask-header">
                    <span class="q-mark">?</span>
                    <div class="ask-head" onclick="openAskModal()">Ask Your Question</div>
                    <div class="ask-body">
                        Let the community give you an answer
                    </div>
                </div>
                <ul class="feeds">

                </ul>
                <div class="feed-load-more-btn">
                    <a onclick="loadAnswerFeeds()" class="comment-link"><div class="load-more-inner"><span class="ion-android-arrow-down"></span> Load More</div></a>
                </div>
            </div>
            <div class="col-lg-2">

            </div>
        </div>
    </div>

    {#  MODAL WINDOW  #}
    <div class="modal fade" id="askModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header ask-modal-header">
                    <div class="ask-head" style="font-size: 19pt;">Ask Your Question</div>
                    <a href="#" class="ion-close-circled ask-close" data-dismiss="modal"></a>
                </div>
                <div class="modal-body ask-modal-body">
                    <form action="" method="post" name="question-form" id="question-form">
                        {% csrf_token %}
                        <input name="question" type="text" class="custom-form-control ask-input" onkeyup="searchAskSuggestions()" placeholder="What is your question ?">
                        <ul class="search-suggestion"></ul>
                        <div class="cannot-find-question">
                            <span>Cannot find what you are looking for ?</span>
                            <input type="submit" value="Ask" class="btn btn-sm btn-default">
                            <span>Ask Anonymously ? </span>
                            <input type="checkbox" value="1" name="anonymous">
                        </div>
                    </form>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
    </div>

    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'scripts/custom.js' %}"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';
        var feed_ajax_page_counter = 1;

        $(document).ready(function () {
            loadAnswerFeeds();
            setTimeout(check_no_topics_followed(), 1000);
        });
        $('#askModal').on('hidden.bs.modal', function () {
            $('.search-suggestion').html('');
            $('.ask-input').val('');
        });

    </script>

{% endblock %}