<!DOCTYPE html>
<html lang="en"
    <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    </head>
    <link rel="stylesheet" href="asset/bootstrap/bootstrap.min_lumen.css">
    <link rel="stylesheet" href="asset/css/style.css">
    
    <body class="main-reg-body" style="background-color: rgba(37, 116, 169, 1); margin: 30px 0 0 30px;">
        <div class="col-lg-3 col-md-6"></div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            <div class="logo-reg">Site Name</div>
            <div class="logo-reg-details">If you are going to use a passage of Lorem Ipsum</div>
            <div class="container-fluid reg-form-container" style="margin-top: 40px; padding: 25px;">
                <div class="reg-succ">Registration Successful!!</div>
                <hr/>
                <div class="reg-succ-details">Please check you mail to confirm your email address. <br>Regards.</div>
                <br>
                <a href="#" class="btn btn-default btn-sm">Login Now</a>
            </div>
        </div>
        <div class="col-lg-3 col-md-6"></div>
        

    </body>
    <script src="asset/scripts/jquery.min.js"></script>
    <script src="asset/scripts/bootstrap.min.js"></script>
    <script>
        $(function(){
            console.log("Jquery working!!!")
        })
    </script>
</html>