{% extends 'base.html' %}
{% block title %}
    Your Archived Answers
{% endblock %}
{% block body %}
    {% load static %}

    <div class="container">
        <div class="row" style="margin-top: 60px;">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 archived">
                {% if answers %}
                    <h4>Answers you archived</h4>
                {% else %}
                    <h4>You have no archived answers</h4>
                {% endif %}
                <ul class="list-group common-user-group">
                    {% for answer in answers %}
                        <a href="/answers/{{ answer.answer.id }}">
                            <li class="list-group-item">
                                <h5 class="list-group-item-heading">{{ answer.answer.question.title }}</h5>
                                <p class="list-group-item-text">&middot; <b> {{ answer.answer.writer.user.first_name }} {{ answer.answer.writer.user.last_name }} </b>, {{ answer.answer.time_answered }}
                                </p>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script src="{% static 'm-toast/jquery.m.toast.js' %}"></script>

{% endblock %}