{% extends 'base.html' %}
{% block title %}
    Your Archived Answers
{% endblock %}
{% block body %}
    {% load static %}

    <div class="container">
        <div class="row" style="margin-top: 60px;">
            <div class="col-lg-3"></div>
            <div class="col-lg-6 archived">
                {% if archives %}
                    <h4>Answers you archived</h4>
                    <button class="own-design"><span class="ion-trash-b"></span>  Delete All</button>
                {% else %}
                    <h4>You have no archived answers</h4>
                {% endif %}
                <ul class="list-group common-user-group archive-list">
                    {% for archive in archives %}
                        <a href="/answers/{{ archive.answer.id }}" class="archive-{{ archive.id }}">
                            <li class="list-group-item bm-list-item">
                                <span class="ion-bookmark bookmark-icon"> </span>
                                <div class="bm-content">
                                    <h5 class="list-group-item-heading bm-content-header">{{ archive.answer.question.title }}</h5>
                                    <p class="list-group-item-text"> <span class="ion-person"></span> {{ archive.answer.writer.user.first_name }} {{ archive.answer.writer.user.last_name }} |  <span class="ion-android-time"></span> {{ archive.answer.time_answered }}
                                    </p>
                                </div>
                                <span class="ion-trash-b single-a" onclick="delete_archive({{ archive.id }})"></span>
                            </li>
                        </a>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-lg-3"></div>
        </div>
    </div>
    <script src="{% static 'scripts/jquery.min.js' %}"></script>
    <script src="{% static 'scripts/bootstrap.min.js' %}"></script>
    <script>
        var csrftoken = '{{ csrf_token }}';

{#        DO not  move this function without proper testing whoever gaz#}
        function delete_archive(id){
            console.log('Deleting archive');
            console.log(id);
            event.preventDefault();
            $.ajax({
                url: '/answers/archived/delete',
                data: { 'csrfmiddlewaretoken': csrftoken, 'archive': id },
                success: function(){
                    $('.archive'+id).fadeOut(3000);
                }
            })
        }
    </script>
    <script src="{% static 'scripts/custom.js' %}"></script>

{% endblock %}