 <li class='list-group-item answer-47 trending-answer-47 feed-answer-item'>
                    <span class='small wrote-an-answer-to'>Damilola wrote an answer to What is your worst experience</span>
                    <h5 class='answer-question'><a href='/questions/what-is-your-worst-experience' target='_blank'>What is your worst experience</a></h5>
                    <div class='writer-div'>
                        <img class='related-user-thumbnail' src='http://127.0.0.1:8000/media/dps/SI_20150706_222145.jpg' alt='Damilola'>
                        <a class='list-group-item-heading' target='_blank' href='/profile/damey2011'>Damilola Adeyemi,</a>
                        <span class='small'>Software Architect</span>
                        <p class='small'>Answer written on 13 Mar, 2017, 17:56:00</p>
                    </div>
                    <div class='list-group-item-text feed-answer-text feed-answer-text-47'>
                        nfisjfnrfm
                        kmfwrm

                    <br>
                        <div class='read-more-container read-more-container-47'>
                            <a href='#' class='feed-read-more-btn feed-read-more-btn-47' onclick='read_more(47)'>Continue Reading</a>
                        </div>
                    </div>
                    <div class='answer-toolbar'>
                        <p class='answer-toolbar-desktop'>
                            <button class='btn btn-default clicked btn-xs upvote-47' onclick='r_upvote(47)'><span class='fa fa-thumbs-o-up'></span> upvoted</button>
                            <a class='dwnv downvote-47' onclick='downvote(47)' href='#'> Downvote </a>                            &middot;
                            <a class='comment-link comment' onclick='openAnswerCommentBox(47)'> add comment</a>                            &middot;
                            <a href='/report/?type=A&type_id=47&next=http://127.0.0.1:8000/trending/'> report</a>                            &middot;
                            <a class='thnk clicked thank-47' href='#'> Gratified </a>                            &middot;
                            <a class='editsug comment-link editsug-47' onclick='suggest_edit(47)' href='#'> Suggest Edits </a>
                            <button class='btn btn-primary btn-xs archive-47' style='float: right;' onclick='bookmarkAnswer(47)'><span class='fa fa-bookmark'></span> archive</button>
                        </p>
                        <span class='answer-toolbar-mobile'>
                            <button class='btn btn-default clicked btn-sm upvote-47' onclick='r_upvote(47)'><span class='fa fa-thumbs-o-up'></span> upvoted</button>            &middot;
                            <a class='comment-link comment' onclick='openAnswerCommentBox(47)'> add comment</a>
                            <div class='dropup more-options-dropdown pull-right'>
                                <span class='ion-ios-more-outline answer-more-options-btn' type='button' id='dropdownMenu1' data-toggle='dropdown'></span>
                                <ul class='dropdown-menu answer-dropdown-options' role='menu' aria-labelledby='dropdownMenu1'>
                                    <li role='presentation' class='dropdown-header'>User Actions</li>
                                    <li role='presentation'><a role='menuitem' onclick='downvote(47)' href='#' tabindex='-1' class='comment-link downvote-47'>Downvote</a></li>
                                    <li role='presentation'><a role='menuitem' onclick='bookmarkAnswer(47)' tabindex='-1' class='comment-link archive-47'>Archive</a></li>
                                    <li role='presentation'><a role='menuitem' tabindex='-1' class='comment-link thank-47'>Gratified</a></li>
                                    <li role='presentation'><a role='menuitem' onclick='suggest_edit(47)' href='#' tabindex='-1' class='comment-link editsug-47'>Suggest Edits</a></li>
                                    <li role='presentation'><a role='menuitem' tabindex='-1' href='/report/?type=Q&type_id=47&next=http://127.0.0.1:8000/trending/'>Report</a></li>
                                </ul>
                            </div>
                        </span>
                    </div>
                </li>