{% for thread in threads %}
    <a onclick="load_thread({{ thread.conv.id }})" href="#" class="list-group-item message-thread-item">
        <div class="list-group-item-heading message-thread-user">
            {% if thread.user == request.user %}
                {% if thread.conv.user_1 == request.user %}
                    <div class="chat-image">
                        <img src="{{ thread.conv.user_2.profile.display_picture.url }}" alt="{{ thread.conv.user_2.first_name }}">
                    </div>
                    <span>{{ thread.conv.user_2.first_name }} {{ thread.conv.user_2.last_name }}</span>
                {% else %}
                    <div class="chat-image">
                        <img src="{{ thread.conv.user_1.profile.display_picture.url }}" alt="{{ thread.conv.user_1.first_name }}">
                    </div>
                    <span>
                        {{ thread.conv.user_1.first_name }} {{ thread.conv.user_1.last_name }}
                    </span>
                {% endif %}
            {% else %}
                <div class="chat-image">
                    <img src="{{ thread.conv.user_1.profile.display_picture.url }}" alt="{{ thread.conv.user_1.first_name }}">
                </div>
                <span>{{ thread.user.first_name }} {{ thread.user.last_name }}</span>
            {% endif %}

        </div>
        <div class="list-group-item-text message-thread-text">
            {{ thread.reply | truncatechars:25 }}
        </div>
        <span class="last-message-time">
            {{ thread.period_sent }}
        </span>
    </a>
{% endfor %}